/**************/
/* CSS REMEDY */
/**************/

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@font-face#description*/
@font-face {
	font-family: "franklin-gothic-atf";
	src: url(../fonts/franklin-gothic-atf.otf) format("opentype");
}
  
  @font-face {
	font-family: "ABC Gravity Variable";
	src: url(../fonts/ABC-Gravity-Variable.ttf) format("truetype");
} 


*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5 ease-in-out;
    font-family: var(--font-primary);
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--font-primary: "franklin-gothic-atf",sans-serif;
	--font-secondary: "ABC Gravity Variable",sans-serif;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
 --font-weight-black: 900;
	--color-text:#111;
	--color-background:#eee;
	--color-white: #fff;
    --color-gray-light: #cfd8e6;
    --color-black: #000;
    --color-black-20: #0003;
    --color-black-30: #0000004d;
    --color-blue: #92b2e9;
    --color-blue-darker: #42a1f7;
    --color-blue-dark: #3c5ca3;
    --color-green: #6ae617;
    --color-green-dark: #273d2e;
    --color-yellow: #fdd91f;
    --color-yellow-darker: #fa0;
    --color-orange: #ff4800;
    --color-purple: #6a299f;
    --color-gold: #906f3f;
    --color-red: #7b0c0c;
    --color-pink: #df81ad;
    --color-text: var(--color-black);
    --color-meta: var(--color-black);
    --color-lines: var(--color-black);
    --color-placeholder: var(--color-black);
    --color-accent: var(--color-black);
    --color-danger: #dc3545;
    --color-danger-bg: #f8d7da;
    --color-success: #198754;
    --color-stage-background: var(--color-yellow);
    --color-stage-color: var(--color-text);
    --color-day-background: var(--color-blue-darker);
}

/****************/
/* JOUW STYLING */
/****************/

body {
  accent-color: var(--color-accent);
  background-color: var(--color-blue);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

/*sections achtergrondkleuren*/
section:nth-of-type(2) {
  background-color: var(--color-yellow);
}

section:nth-of-type(3) {
  background-color: var(--color-yellow);
}

footer {
  background-color: var(--color-orange);
}

/***header*/

header {
	display: flex;
  position: fixed;
  z-index: 99;
	align-items: center;
	justify-content: space-between;
	background-color:var(--color-white);
	width: 100%;
  height: 3.2em;
  top: 0;
  padding: 1em;
  box-sizing: border-box;
}

header a img {
  width: 6em;
}

/*bron menu: https://codepen.io/shooft/pen/myepoJo*/

header button {
  font-family: var(--font-secondary);
  font-size: 0.8em;
  border: none;
  line-height: 1,2;
  background-color: transparent;
  cursor: pointer;
}

header nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2em;
  height: 100vh;
  bottom: 0;
  translate: 100% 0%;
  transition: translate 0.3s; /*bron:https://codepen.io/shooft/pen/myepoJo*/
  background-color: var(--color-white);
}

header nav.toonMenu {
  translate: 0% 0%;
}

header nav ul:nth-of-type(1) li a {
  display: flex;
  justify-content: flex-start;
  font-family: var(--font-secondary);
  list-style: none;
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

/*het kruisje*/
header nav ul:first-of-type li:first-of-type {
  display: flex;
  justify-content: flex-end; 
  width: 100%;           
  text-align: right;      
  margin-bottom: 2em; 
  padding: 0;    
}

header nav ul:first-of-type li:first-of-type button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/*grote links in menu*/
header nav ul:first-of-type li:nth-of-type(2),
header nav ul:first-of-type li:nth-of-type(3),
header nav ul:first-of-type li:nth-of-type(4),
header nav ul:first-of-type li:nth-of-type(5) {
  font-size: 0.9em;      
  font-stretch: expanded;
  color: black;
  text-decoration: none;
  margin-bottom: 1.5em;
}

/*de kleine links onderaan in menu*/
header nav ul:first-of-type li:nth-of-type(6) a,
header nav ul:first-of-type li:nth-of-type(7) a,
header nav ul:first-of-type li:nth-of-type(8) a,
header nav ul:first-of-type li:nth-of-type(9) a,
header nav ul:first-of-type li:nth-of-type(10) a{
  display: block;
  font-size: 1.3em;  
  font-stretch: condensed;     
  color: black;
  text-decoration: none;
  margin-bottom: 1em;
}

/*ruimte tussen grote linkjes en kleine linkjes*/
header nav ul:first-of-type li:nth-of-type(6) {
  margin-top: 2.5em;
}

/*social media icoontjes onderaan menu*/
header nav ul:last-of-type {
    display: flex;          
    gap: 1em;             
    margin-top: 3em;        
}

header nav ul:last-of-type img {
    width: 1.5em;
}

/*h-elementen*/

h2 {
  font-family: var(--font-primary);
  font-size: 2em;
  line-height: 1;
  text-align: center;
}

/************/
/* SECTION PROGRAM */
/************/

section:first-of-type h2{
  font-family: var(--font-secondary);
  color: var(--color-black);
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  font-size: 1.5em;
  margin-block: 0.75em 0.5em;
}

section:first-of-type h3{
  font-family: var(--font-secondary);
  color: var(--color-white);
  font-weight: 400;
  font-size: 1em;
}

main > section > img {
  display: block; /*zonder dit, ruimte tussen img en balk*/
  width: 100%;
  height: 25em;
}

/*horziontale scroll balk*/

/*youtube link uitleg van dlo voor @keyframes en animatie: https://www.youtube.com/watch?v=HZHHBwzmJLk*/
main > section > section {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap; /* zorgt dat de zin niet afgebroken wordt, bron:https://css-tricks.com/almanac/properties/w/whitespace/*/
  background-color: var(--color-green); 
  height: 3em;
}
 
main > section > section > p {
  display: flex;
  align-items: center;
  gap: 0.4em;
  animation: scroll-text 100s;
  animation-iteration-count: infinite;
  font-family: var(--font-secondary);
  font-size: 2.1em;        
  text-transform: uppercase;
}

main > section > section > p > img {
  height: 0.6em;
  width: 100%;
}

@keyframes scroll-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*letters op de img*/
section:first-of-type a{
  text-decoration: none;
}

/************/
/* CAROUSEL PROGRAM */
/************/

main > section {
  width: 100%;
  overflow: hidden;
}

/* item */
section:first-of-type a {
  display: grid;       
  position: relative;
  text-decoration: none;
  overflow: hidden;    
  border-radius: 1em;  
}

/* lijst */
section:first-of-type ul {
  display: flex;       
  gap: 1em;            
  padding: 0;
  margin: 0;
  list-style: none;  
  width: 100%; 
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* daardoor springt de img naar het midden nadat je klaar bent met scrollen. bron: https://codepen.io/shooft/pen/QwjQGZe */
  scroll-behavior: smooth;
  scrollbar-width: none;
}

section:first-of-type li {
  scroll-snap-align: center;
}

/* afbeelding en tekst */
section:first-of-type li img,
section:first-of-type li h3 {
  grid-area: 1 / 1;  
}

/* afbeelding */
section:first-of-type li img {
  width: 16em;
  height: auto;    
  filter: brightness(80%);
}

/* h3 */
section:first-of-type li h3 {
  z-index: 2;          
  align-self: end;     
  justify-self: start; 
  margin: 1em;     
  color: white;      
  font-family: var(--font-secondary); 
}

/*see full line up*/
section:first-of-type > a:last-of-type{
  font-family: var(--font-secondary);
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-black);
  text-transform: uppercase;
  font-stretch: condensed;
  padding-bottom: 2.5em;
  padding-top: 4em;
}

/************/
/* SECTION NEWS */
/************/

section:nth-of-type(2) {
  padding-top: 1.5em;
}

section:nth-of-type(2) h2 {
  font-size: 2em;
  font-stretch: expanded;
  font-family: var(--font-secondary);
  padding-bottom: 0em;
  padding-top: 1em;
}

/************/
/* CAROUSEL2 NEWS */
/************/

section:nth-of-type(2) {
  padding-top: 1em;
}

section:nth-of-type(2) > ul {
  display: flex;
  gap: 1em;
  padding: 2em 1.5em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* daardoor springt de img naar het midden nadat je klaar bent met scrollen. bron: https://codepen.io/shooft/pen/QwjQGZe */
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* item */
section:nth-of-type(2) > ul > li {
  min-width: 27em;
  scroll-snap-align: center; /* hoort bij scroll-snap-type */
  padding-block: 0.25em;  
  list-style: none; 
}

/* link */
section:nth-of-type(2) a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: grid;
  overflow: hidden;
  border-radius: 0.5em;
  height: 100%;
  width: 100%;
}

section:nth-of-type(2) a img,
section:nth-of-type(2) a h3,
section:nth-of-type(2) a p,
section:nth-of-type(2) a ul {
  grid-area: 1 / 1; 
}

section:nth-of-type(2) li a ul {
  align-self: start;      
  margin: 1em;
  z-index: 10;
  pointer-events: none;
  display: flex;
  gap: 8em;
  justify-content: center;
  list-style: none;       
}

/*news*/
section:nth-of-type(2) ul li a ul li:nth-of-type(2) {
  font-size: 1.5em;
  margin-top: 0.6em;
  font-stretch: condensed;
  font-family: var(--font-secondary); 
  color: var(--color-white);
}

/* nummers */
section:nth-of-type(2) li a ul li:first-of-type,
section:nth-of-type(2) li a ul li:last-of-type {
  font-size: 1.7em;      
  margin-top: 0.6em;  
  font-stretch: expanded; 
  font-family: var(--font-secondary); 
  color: var(--color-white);
}

/* h3 */
section:nth-of-type(2) li a h3 {
  align-self: end;        
  z-index: 3;          
  width: 80%;
  font-size: 1.5em;
  margin: 0 1em 1.5em 1em; 
  padding-bottom: 2em;
  font-family: var(--font-secondary); 
  color: var(--color-white);
}

/*read more*/
section:nth-of-type(2) ul > li > a > p {
  align-self: end;         
  z-index: 2;
  margin: 0 0 2em 1.5em; 
  text-transform: uppercase;
  font-stretch: condensed;
  font-family: var(--font-secondary); 
  color: var(--color-white);
}

/* img */
section:nth-of-type(2) li img {
  width: 100%;
  height: 100%;          
  border-radius: 2em;     
  filter: brightness(80%);
  z-index: 1;             
}

/************/
/* SECTION NEWSLETTER */
/************/

section:nth-of-type(3) {
  padding-top: 1em;
}

section:nth-of-type(3) h2 {
  padding-bottom: 0.7em;
  text-align: left;
  font-stretch: expanded; /*bron:https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/font-stretch */
  font-size: 2em;
  font-family: var(--font-secondary);
}

section:nth-of-type(3) p {
  font-family: var(--font-primary);
  font-size: 1.8em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  width: 100%;
  line-height: 1.05em;
  padding-bottom: 0.9em;
}

section:nth-of-type(3) form > p {
  font-size: 0.8em;
}

form input {
  width: 100%;
  height: 4em;
  border: 0.1em solid #000;
  border-radius: 3em;
  background: transparent;
  margin-bottom: 2em;
  font-size: 1em;
}

form label {
  display: block;
  margin-bottom: 0.5em;
  font-family: var(--font-primary);
  font-size: 1.2em;
}

section:nth-of-type(3) {
  padding: 2em 1em;
}

form input[type="checkbox"] { /* bron: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/checkbox > ik wist niet hoe je de checkbox moest aanspreken*/
  width: 0.8em; 
  height: auto; 
  margin-bottom: 0;
  padding-right: 0.5em;
}

section:nth-of-type(3) form label:nth-of-type(3) {
  padding-bottom: 1.2em;
}

section:nth-of-type(3) form label:nth-of-type(4) {
  padding-bottom: 1.2em;
}

section:nth-of-type(3) form button {
  padding: 0.9em;
  border-radius: 1.5em;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 1.2em;
  color: var(--color-text);
  background-color: var(--color-blue);
  border: solid 0.07em;
}

/************/
/* SECTION FOOTER */
/************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-top: 0;       
}

/* eerste logo */
footer > a:first-of-type {       
    padding-top: 1em;
}

footer > a:first-of-type img {
    width: 20em;
    padding-top: 0;       
    margin-top: 0;        
}

/* tweede logo */
footer > img {
    width: 10em;
    margin: 2em auto;    
    padding-top: 2em; 
    padding-bottom: 2em;
}

/* ul */
footer ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
    gap: 2.4em 4em;
    list-style: none;
    padding-top: 0;
    padding-bottom: 2em;
    margin: 0;            
    box-sizing: border-box; 
}

/* social media icoontjes */
footer li img {
    width: 2.5em;
    height: auto;           
}

footer ul li {
    margin: 0; 
}

/*onderste gedeelte footer */
.footer-info {
    display: flex;
    flex-wrap: wrap;   
    text-align: left;
    margin-top: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    width: 100%;
    padding-left: 1em;
}

/* copyright */
.footer-info p:first-of-type {
    width: 45%;      
    margin: 0;
    margin-bottom: 0.5em;
    font-family: var(--font-primary);
    font-size: 0.7em;
    color: var(--color-text);
}

/* legal policies */
.footer-info > a {
    width: 20%;           
    font-family: var(--font-primary);
    font-size: 0.7em;
    color: var(--color-text);
    text-decoration: none;
    box-sizing: border-box;
    padding-left: 1.5em;     
}

/* website by */
.footer-info p:nth-of-type(2) {
    width: 100%;           
    margin: 0;
    font-family: var(--font-primary);
    font-size: 0.7em;
    color: var(--color-text);
}

/* img bij website by  */
.footer-info p:nth-of-type(2) img {
    height: 0.8em;
    width: auto;
    margin-left: 0.3em;
}

/************/
/* SEF PAGINA */
/************/

/*header*/

/*EERSTE SECTIE*/

.sefpagina {
  background-color: var(--color-orange);
  color: var(--color-black);
  font-family: var(--font-primary);
}

.sefpagina main section h1 {
  font-family: var(--font-secondary);
  font-size: 2.8em;
  margin-top: 2em;
  font-stretch: expanded;

  margin-inline: auto;
  width: 90%;
}

.sefpagina main section h2:first-of-type {
  font-family: var(--font-secondary);
  font-size: 1.5em;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  margin-inline: auto;
  width: 90%;
  text-align: left;
}

/*social icoontjes */
.sefpagina main > section > ul {
  width: 90%;
  display: flex;
  list-style: none;
  padding-bottom: 2em;
  align-self: center;
  justify-content: space-around;
  padding-left: 0;
  margin-inline: auto; /*bron > ik kreeg de ul niet in het midden gecentreerd, heb dit gevraagd aan ai en die kwam met oplossing marigin inline*/
}


.sefpagina main section ul li img {
  width: 1.3em;
  height: auto;
  border-radius: 0; /*als ik dit eruit laat dan komt er border radius op de img's, weet niet waarom*/
}

.sefpagina main section > img {
  border-radius: 1.5em 1.5em;
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: auto;
}

/*'saturday 13'*/

.sefpagina main section h2:nth-of-type(2) {
  font-size: 1.5em;
  font-family: var(--font-secondary);
  text-align: center;
  font-stretch: condensed;
  margin-left: 0;
}

.sefpagina main section > h3 {
  color: var(--color-black);
  font-size: 1.5em;
  text-align: start;
  margin-left: 0.7em;
  
  padding-bottom: 1.5em;
  width: 90%; 
}

.sefpagina main section p {
  font-family: var(--font-primary);
  font-size: 1.2em;
  margin-left: 0.7em;
  margin-right: 0.5em;
  padding-bottom: 2em;
}

.sefpagina main section iframe:nth-of-type(1) {
  display: block;
  margin: 0 auto;
  border-radius: 0.5em;
  width: 90%;
  height: auto;
}

.sefpagina main section iframe:nth-of-type(2) {
  display: block;
  margin: 2em auto;
  border-radius: 0.5em;
  width: 90%;
  height: 22em;
}

/************/
/* hier moet Horizontale balk sefpagina */
/************/

/*tweede secti*/

.sefpagina section:nth-of-type(2) {
  background-color: var(--color-orange);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sefpagina section:nth-of-type(2)>h2 {
  margin: 0.5em; 
  text-align: center;
  font-size: 1.8em;
  font-family: var(--font-secondary);
  text-transform: none;
}

/*GORILLAZ AFBEELDING*/

.sefpagina section:nth-of-type(2) > a {
  position: relative;
    width: 90%;
    height: auto;
    text-decoration: none;
    border-radius: 1.5em;
}

.sefpagina section:nth-of-type(2) > a > img {
    filter: brightness(80%); /*bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/filter-function/brightness*/
}

.sefpagina section:nth-of-type(2) > a > h3,
.sefpagina section:nth-of-type(2) > a > p {
    position: absolute;
    left: 1.25rem; /*ik heb hierboven rem gebruikt, omdat ik dan de h3 en de p gelijk kan uitlijnen met de afbeelding.*/
    color: white;
    margin: 0;
    z-index: 2;
    text-align: left;
    width: 70%;
}

.sefpagina section:nth-of-type(2) > a > h3 {
    font-family: var(--font-secondary);
    font-stretch: expanded;
    bottom: 2em;
    font-size: 2.5em;
    text-transform: uppercase;
}

.sefpagina section:nth-of-type(2) > a > p {
    bottom: 0em;
    font-family: var(--font-primary);
    font-size: 1.2em;
}

/* onder de img   */

/*sunday*/
.sefpagina main section:nth-of-type(2) > p {
  margin-top: 1em;
  width: 90%;
}

/* ul */
.sefpagina main section:nth-of-type(2) ul {
    list-style: none;     
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1em;
}

/* li */
.sefpagina main section:nth-of-type(2) li {
    display: flex;
    flex-direction: column;
    border-top: 0.3em solid var(--color-black);
    padding: 1em;
}

/* laatste border */
.sefpagina main section:nth-of-type(2) ul li:last-of-type {
    border-bottom: 0.3em solid var(--color-black);
    margin-bottom: 2em;
}

/* De Titel */
.sefpagina main section:nth-of-type(2) ul li h2 {
    font-size: 2em;
    line-height: 0.9;
    text-transform: uppercase; 
    width: 90%;
    color: var(--color-black);
    margin: 0 0 0.2em 0;
    padding: 0;
}

/* beschrijving */
.sefpagina main section:nth-of-type(2) ul li p {
    font-family: var(--font-primary);
    font-size: 1.2em;
    color: var(--color-black);
    margin: 0 0 1em 0;
    padding: 0;
}

/* dag */
.sefpagina main section:nth-of-type(2) ul li h3 {
    font-family: var(--font-secondary);
    font-size: 1.3em;
    color: var(--color-black);
    margin: 0 0 1.5em 0;
    padding: 0;
}

/************/
/* footer SEFPAGINA */
/************/

.sefpagina footer {
  background-color: var(--color-yellow)
}


 